In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("data/train.csv")

In [3]:
train.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.71     Fair     F     SI1   57.0   68.0  6.05  5.87  3.40   2198
1   1   0.75  Premium     F    VVS2   62.4   57.0  5.88  5.75  3.63   3822
2   2   0.70     Good     H     VS2   59.1   65.0  5.75  5.85  3.43   2234
3   3   1.75  Premium     I     VS1   60.6   60.0  7.80  7.84  4.74  12416
4   4   1.18  Premium     G    VVS2   59.7   58.0  6.94  6.90  4.13   9537

--> Exploro los datos    
--> Convierto las categóricas en numéricas    
--> Miro si hay algunas variables con alta correlación    
--> Entreno algortitmos de ML, tuneo hiperparámetros y saco métricas       
--> ENTRENO CON TODOS LOS DATOS

In [11]:
data_train_bien = pd.get_dummies(train)

In [13]:
data_train_bien

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.71,57.0,68.0,6.05,5.87,3.40,2198,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0.75,62.4,57.0,5.88,5.75,3.63,3822,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0.70,59.1,65.0,5.75,5.85,3.43,2234,0,1,...,0,0,0,0,0,0,0,1,0,0
3,3,1.75,60.6,60.0,7.80,7.84,4.74,12416,0,0,...,1,0,0,0,0,0,1,0,0,0
4,4,1.18,59.7,58.0,6.94,6.90,4.13,9537,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,1.07,62.7,56.0,6.47,6.53,4.08,5982,0,0,...,0,0,0,0,1,0,0,0,0,0
40451,40451,1.19,58.9,60.0,7.00,6.92,4.09,4758,0,0,...,0,0,0,0,0,1,0,0,0,0
40452,40452,2.04,60.2,58.0,8.24,8.17,4.94,18231,0,0,...,0,0,0,0,0,1,0,0,0,0
40453,40453,0.86,61.9,61.0,6.07,5.99,3.73,3323,0,0,...,0,0,0,0,1,0,0,0,0,0
40454,40454,1.55,63.2,57.0,7.35,7.31,4.64,7066,0,0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [20]:
columnas_x = [a for a in data_train_bien.columns if a!= "price"]
columnas_x

['id',
 'carat',
 'depth',
 'table',
 'x',
 'y',
 'z',
 'cut_Fair',
 'cut_Good',
 'cut_Ideal',
 'cut_Premium',
 'cut_Very Good',
 'color_D',
 'color_E',
 'color_F',
 'color_G',
 'color_H',
 'color_I',
 'color_J',
 'clarity_I1',
 'clarity_IF',
 'clarity_SI1',
 'clarity_SI2',
 'clarity_VS1',
 'clarity_VS2',
 'clarity_VVS1',
 'clarity_VVS2']

In [21]:
X = data_train_bien[columnas_x]
y = data_train_bien["price"]

In [23]:
rf_reg = RandomForestRegressor(n_estimators=27, max_depth=3, min_samples_leaf=3, random_state=111)

In [24]:
rf_reg.fit(X,y)

RandomForestRegressor(max_depth=3, min_samples_leaf=3, n_estimators=27,
                      random_state=111)

In [25]:
predict = pd.read_csv("data/predict.csv")

In [26]:
predict_bien = pd.get_dummies(predict)

In [27]:
predict_bien.head()

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.54,61.3,59.0,5.26,5.21,3.21,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0.32,62.1,54.0,4.38,4.44,2.74,0,0,1,...,0,1,0,0,0,0,0,1,0,0
2,2,0.30,63.6,56.0,4.26,4.29,2.72,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,3,0.66,59.2,58.0,5.69,5.72,3.38,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,4,0.42,62.0,55.0,4.79,4.82,2.98,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [28]:
predict["price"] = rf_reg.predict(predict_bien)

In [29]:
predict.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.54,Premium,E,VS2,61.3,59.0,5.26,5.21,3.21,1686.616858
1,1,0.32,Ideal,J,VS2,62.1,54.0,4.38,4.44,2.74,785.396763
2,2,0.30,Good,H,VVS2,63.6,56.0,4.26,4.29,2.72,785.396763
3,3,0.66,Very Good,F,SI1,59.2,58.0,5.69,5.72,3.38,2723.326756
4,4,0.42,Ideal,F,VS2,62.0,55.0,4.79,4.82,2.98,785.396763

In [30]:
para_exportar = predict[["id", "price"]]
para_exportar

          id        price
0          0  1686.616858
1          1   785.396763
2          2   785.396763
3          3  2723.326756
4          4   785.396763
...      ...          ...
13480  13480  4678.705399
13481  13481  1686.616858
13482  13482  6662.154913
13483  13483  2723.326756
13484  13484   785.396763

[13485 rows x 2 columns]

In [31]:
para_exportar.to_csv("prueba", header=True, index=False)

In [7]:
ejemplo = pd.read_csv("data/sample_submission.csv")

In [8]:
ejemplo

          id  price
0          0  13842
1          1   4389
2          2  18398
3          3  15193
4          4  17706
...      ...    ...
13480  13480   6494
13481  13481   4433
13482  13482  15319
13483  13483   5767
13484  13484   7863

[13485 rows x 2 columns]